__pycache__/
*.pyc
.venv/
.env
*.db
*.sqlite
*.sqlite3
*.log
data/upload/*
data/original/*
data/work/*
data/database/*
!data/upload/.gitkeep
!data/original/.gitkeep
!data/work/.gitkeep
!data/database/.gitkeep
.DS_Store
Thumbs.db
